@using Lazcat.Blog.Web.Services.Articles
@using Lazcat.Blog.Models.ViewModel
@using System.ComponentModel.Design
@inject IArticleService ArticleService

<Row>
    <Col Span="24" Class="border-top-radius-5" >
        <Col Class="border-top-radius-5" Style="background: cornflowerblue">
            <Title Level="3" Class="border-top-radius-5" style="text-align: center; margin: 0;">文章分類</Title>
        </Col>
        @if (_articleDtos == null)
        {
            <Spin></Spin>
        }
        else if (!_articleDtos.Any())
        {
            <Empty></Empty>
        }
        else
        {
            <Menu Theme="MenuTheme.Light" Mode="MenuMode.Inline" Accordion>
                @foreach (var (categoryName, simpleArticles) in _articleDtos)
                {
                    <SubMenu Key="@categoryName" TitleTemplate="getCategoryFragment(categoryName, simpleArticles.Count)">
                            @foreach (var simpleArticle in simpleArticles)
                            {
                                <MenuItem Key="@simpleArticle.Id.ToString()">
                                    <Tooltip Placement="PlacementType.LeftTop" Title="@simpleArticle.Title">
                                        @simpleArticle.Title
                                    </Tooltip>
                                </MenuItem>
                            }
                        </SubMenu>
                    
                }
            </Menu>
        }
    </Col>
</Row>

<style>
    .border-top-radius-5 {
        border-top-right-radius: 20px; 
        border-top-left-radius: 20px;
    }
</style>

@code {
    private Dictionary<string, List<SimpleArticle>> _articleDtos;

    protected override async Task OnInitializedAsync()
    {
        var simpleArticles = await ArticleService.GetArticleList();
        Console.WriteLine(123);
        _articleDtos = simpleArticles.GroupBy(x => x.CategoryName).ToDictionary(x => x.Key, x => x.ToList());
        Console.WriteLine(321);
    }

    private RenderFragment getCategoryFragment(string categoryName, int count)
    {
        return
            @<Tooltip Placement="PlacementType.LeftTop" Title="@categoryName">
                <span>
                    <Icon Type="book" Theme="outline"/>
                    <span style="word-wrap: break-word;">@categoryName</span>
                </span>
                @* <Badge Count="@count"></Badge> *@
            </Tooltip>;
    }
}
