@using Lazcat.Blog.Web.Services.Articles
@using Lazcat.Blog.Models.ViewModel
@using System.ComponentModel.Design
@inject IArticleService ArticleService

<Row Style="border-radius: 5%">
    <Col Span="24">
        <Col Style="border-top-right-radius: 5%; border-top-left-radius: 5%; background: cornflowerblue">
            <Title Level="3" style="text-align: center; margin: 0;">文章分類</Title>
        </Col>
        @if (_articleDtos == null)
        {
            <Spin></Spin>
        }
        else if (!_articleDtos.Any())
        {
            <Empty></Empty>
        }
        else
        {
            <Menu Style="border-bottom-right-radius: 5%; border-bottom-left-radius: 5%;" Theme="MenuTheme.Light" Mode="MenuMode.Inline" Accordion>
                @foreach (var (categoryName, simpleArticles) in _articleDtos)
                {
                    <SubMenu Key="@categoryName" TitleTemplate="getCategoryFragment(categoryName)">
                        @foreach (var simpleArticle in simpleArticles)
                        {
                            <MenuItem Key="@simpleArticle.Id.ToString()">
                            <Tooltip Placement="PlacementType.LeftTop" Title="@simpleArticle.Title">
                                <p>@simpleArticle.Title</p>
                            </Tooltip>
                            </MenuItem >
                        }
                    </SubMenu>
                }
            </Menu>
        }
    </Col>
</Row>


@code {
    private Dictionary<string, List<SimpleArticle>> _articleDtos;

    protected override async Task OnInitializedAsync()
    {
        var simpleArticles = await ArticleService.GetArticleList();
        _articleDtos = simpleArticles.GroupBy(x => x.CategoryName).ToDictionary(x => x.Key, x => x.ToList());
    }

    private RenderFragment getCategoryFragment(string categoryName)
    {
        return
            @<Tooltip Placement="PlacementType.LeftTop" Title="@categoryName">
                <span>
                    <Icon Type="book" Theme="outline"/>
                    <span style="word-wrap: break-word;">@categoryName</span>
                </span>
            </Tooltip>;
    }
}
