@namespace Lazcat.Blog.Web.Pages.Articles
@using Lazcat.Blog.Web.Services.Articles
@using Lazcat.Blog.Models.ViewModel
@using Lazcat.Blog.Models.Web
@inject IArticleService ArticleService
@inject NavigationManager NavigationManager

@if (Articles == null)
{
    <Spin Tip="Loading...">
        @for (int i = 0; i < 3; i++)
        {
            <Skeleton Active="true"></Skeleton>
        }
    </Spin>
}
else if (!Articles.Any())
{
    <Empty></Empty>
}
else
{
    <AntList Style="width: 100%" Split="true" DataSource="@Articles" ItemLayout="ListItemLayout.Vertical">
        <ChildContent Context="article">
            <ListItem Style="width: 100%" OnClick="()=>NavigateToArticle(article.Id)" Class="ant-card-hoverable" Extra="@extra">
                <ListItemMeta>
                    <TitleTemplate>
                        @article.Title
                    </TitleTemplate>
                </ListItemMeta>
                <div class="word-break-force">
                    @article.Description
                </div>
            </ListItem>
        </ChildContent>
    </AntList>
}

<style>
    .word-break-force {
        word-break: break-all;
    }
    .ant-list-split .ant-list-item {
        border-color: #A1A1A1;
        margin-bottom: 5px
    }
</style>


@code {
    private IEnumerable<SimpleArticle> Articles;

    RenderFragment extra = @<img width="272" alt="logo" src="https://gw.alipayobjects.com/zos/rmsportal/mqaQswcyDLcXyDKnZfES.png"/>;

        @*RenderFragment<string> extra = cover =>@<img width="272" alt="logo" src="@cover" />;*@

    protected override async Task OnInitializedAsync()
    {
        var simpleArticles = await ArticleService.GetArticleList(isOnlyPublished:true);
        Articles = simpleArticles.OrderByDescending(x => x.PublishTime);
    }

    private void NavigateToArticle(int id)
    {
        NavigationManager.NavigateTo($"{Define.UrlName.Article}/{id}");
    }
}